<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>servletApplication</display-name>
  
  <context-param>
  	<param-name>email</param-name>
  	<param-value>appi.bh@gmail.com</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>hello</servlet-name>
  	<servlet-class>org.test.servlet.HelloWorld</servlet-class>
  	<init-param>
  		<param-name>test</param-name>
  		<param-value>testVal</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup> 
  </servlet>

  <servlet>
  	<servlet-name>bye</servlet-name>
  	<servlet-class>org.test.servlet.GoodByeServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>loginserv</servlet-name>
  	<servlet-class>org.test.servlet.LoginServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>register</servlet-name>
  	<servlet-class>org.test.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>search</servlet-name>
  	<servlet-class>org.test.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>search</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>loginserv</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>bye</servlet-name>
  	<url-pattern>/goodBye</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
</web-app>